body {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 100%;
    font-family: Georgia, serif;
}
div#content {
    width: 600px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-size: 100px;
    line-height: 110px;
    color: #333;
}
p {
    font-size: 28px;
    line-height: 32px;
    color: #333;
}
p.small {
    font-size: 16px;
    color: #999;
}
a {
    color: #999;
}
footer {
    display: block;
}
